html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', Sans;
	font-size: 13px;
	background-color: black;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	position: absolute;
}

#game_canvas {
	width: 100%;
	height: 100%;
}


/* OVERLAY */

#overlay_root {
	position: absolute;
	top: 0;
	left: 0;
}

	.entity_block {
		position: absolute;
		transition: opacity 0.4s ease-in-out;
		/*transition: left 0.4s linear;*/
		/*transition: top 0.4s linear;*/
		transition: transform .2s ease-in-out;
	}


/* ENTITY PANEL */

#entity_panel {
	position: absolute;
	width: 25%;
	height: auto;
	left: 10%;
	bottom: 10%;
	display: none;
	/*background-color: green;*/
}

.module_block {
	border: 3px solid rgba(255, 255, 255, 0.23);
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 8px;
	margin: 8px;
}

	.module_block p {
		margin-bottom: 0px
	}

	.module_block .codeblock {
		background-color: rgba(0, 0, 0, 0.36);
	    border-radius: 4px;
	    padding: 4px 6px 4px 4px;
	    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.27);
	    color: #74D1FF;
	    margin-bottom: 0px;
	    counter-reset: line_number;
	    resize: none;
	}

		.module_block .codeblock > code:before {
			counter-increment: line_number;
			content: counter(line_number) "0";
			font-size: 0.8em;
			padding-right: 5px;
			color: rgba(255, 255, 255, 0.23);
			text-align: right;
		    width: 1.7em;
		    display: inline-block;
		}

	.module_block h1 {
		color: white;
		margin: 2px;
		font-size: 1.3em;
	}


/* MODULE SPECIFICS */

.entity_block.article {
	background-color: red;
	border-radius: 14px;
	color: white;
	font-size: 1.1em;
	padding: 8px;
	width: 18em;
}